/*  */

.DataTableOuter{
    width: calc(100% - 400px);
}

.DataTableOuter > .LeavReqOuter{
    padding: 10px;
    width: 100%;
}

@media (max-width:900px) {
    .DataTableOuter > .LeavReqOuter{
        margin-top: 14%;
        width: 100%;
    }
}