@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.SiderbarMain {
    width: 400px;
    height: 100vh;
    background-color: red;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #fff;
    background: linear-gradient(180deg,
            #071A48 0%,
            #0A2255 30%,
            #0B2C66 70%,
            #123873 100%);

    border-radius: 0px 30px 30px 0px;
    overflow: hidden;
}


.SiderbarMain>img {
    opacity: 50%;
    width: 100%;
    object-fit: cover;
    height: 23%;
    background:
        linear-gradient(180deg,
            rgba(7, 26, 72, 0),
            rgba(7, 26, 72, .8));
}

.SiderbarMain>.SideBarOuter {
    height: 77%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.SiderbarMain>.SideBarOuter > .SidebarTitle{
    width: 100%;
    text-align: center;
    /* background-color: red; */
    h1{

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 0px 20px;
    }
}
.SiderbarMain>.SideBarOuter>.SidebarActions>ul {
    list-style: none;

    li {
        border-radius: 10px;
        width: 300px;
        cursor: pointer;
        gap: 25px;
        display: flex;
        align-items: center;
        justify-content: start;
        text-transform: capitalize;
        font-weight: 600;
        margin-bottom: 20px;
        height: 85px;
        /* background-color: blue; */
        padding: 0px 30px;

        transition: all 500ms ease;

        .DashboarIcon {
            font-size: 30px;
            color: white;
        }
    }
}

.SiderbarMain>.SideBarOuter>.SidebarActions>ul>li:hover {
    background: rgba(255, 255, 255, .08);
    
    transform:translateX(6px);
    /* transition: all 500ms ease; */
}